*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
}

.hero{
    background-color: black;
    /* background: linear-gradient(120deg, rgba(0, 0, 0, 0.699) 0%, rgba(85, 27, 35, 0.692) 100%), url("https://i.ibb.co/sPWM19S/6cd97319-cb81-4c67-8e13-a3ff9d07535d.jpg"); */
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.textos-hero{
    height: 400px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-hero h1{
    font-size: 60px;
}

.textos-hero p{
    font-size: 25px;
    margin-bottom: 20px;
}

.textos-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: white;
    border-radius: 8px;
    color: black;
}

.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Estilos generales */

.contenedor,
.wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}
.contenedor{
    padding: 80px 0;
}

.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.left2{
    text-align: left;
}

.titulo.right{
    text-align: right;
}

/* Section */

.website{
    display: flex;
    justify-content: space-between;
}

.website img{
    height: 100%;
    width: 48%;
}

.website .contenedor-textos-main{
    width: 40%;
}
a
.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}

.cta{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.97) 0%, rgba(0,0,0,0.47) 99%, #fad0c4 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 25px;
    margin-top: 15px;
}

/* Info */

.info{
    background: rgba(0,0,0,0.87);
    color: #fff;
}

/* About me */

.card3-activada{
    height: auto !important;
    transition: height 2s !important;
}
.card3-activada .boton-ver-mas{
    display: none;
}
.card3-activada .contenido-activo{
    display: inline-block !important;
}
.card3-activada .boton-ver-menos{
    display: inline-block !important;
}
.card3 .boton-ver-menos{
    display: none;
}
.card3 .contenido-activo{
    display: none;
}
.card3{

}


/* Cards */

.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card-activada{
    height: auto !important;
    transition: height 2s !important;
}
.card-activada .boton-ver-mas{
    display: none;
}
.card-activada .contenido-activo{
    display: inline-block !important;
    word-break: break-word !important;
    padding: 5px !important;
}
.card-activada .boton-ver-menos{
    display: inline-block !important;
}
.card2 .boton-ver-menos{
    display: none;
}
.card2 .contenido-activo{
    display: none;
}
.card2{
    width: 30%;
    text-align: center;
    height: 480px;
    transition: height 1s !important;
    margin-bottom: 20px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}
.card2 img{
    padding: 10px;
    height: 170px;
    margin-top: 10px;
}

.card2:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card2 i{
    margin: 30px 0 20px 0;
    color: #cc9199;
    font-size: 50px;
}

.card2 p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* galeria */

.galeria{
    background: #f2f2f2;
}

.galeria-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria-cont>img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
}

/* info2 */

.last-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.last-section img{
    width: 48%;
}

.last-section .contenedor-textos-main{
    width: 40%;
}


/* footer */

footer{
    background:rgba(0,0,0,0.87);
    color: #fff;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent !important;
    border: 0 !important;
    color: #fff !important;
    outline: none !important;
    border: 1px  solid #fff !important;
    padding: 20px 10px !important;
}

.input::placeholder{
    color: #fff !important;
    font-family: 'raleway', 'sans-serif' !important;
}

input[type="text"], 
input[type="email"]{
    display: inline-block !important;
    width: 46% !important;
    height: 1rem !important;
    margin-bottom: 30px !important;
}

.form textarea{
    width: 100% !important;
    margin-bottom: 15px !important;
    height: 10rem !important;
}

input[type="submit"]{
    width: 120px !important;
    text-align: center !important;
    padding: 14px 0 !important;
}

input[type="submit"]:hover{
    cursor: pointer !important;
    color: black !important;
    background: #fff !important;
}

input[type="button"]{
    width: 120px !important;
    text-align: center !important;
    padding: 14px 0 !important;
}

input[type="button"]:hover{
    cursor: pointer !important;
    color: black !important;
    background: #fff !important;
}

@media screen and (max-width:800px){
    .textos-hero img{
        height: auto !important;
        width: 150% !important;
    }
    .textos-hero p{
        display: none;
    }
    .textos-hero{
        text-align: center;
        align-items: center;
    }
    .textos-hero h1{
        text-align: center;
        font-size: 50px;
    }
    /* estilos generales */
    .titulo{
        font-size: 35px;
    }

    .titulo.left2{
        text-align: center;
    }

    .info p{
        text-align: center;
    }

    /* section */
    .website{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .website img{
        width: 100%;
    }

    .website .contenedor-textos-main{
        width: 100%;
    }

    /* Cards */

    .card2{
        width: 90%;
        margin-bottom: 20px;
    }

    .card2 p{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* galeria */

    .galeria-cont>img{
        width: 48%;
    }

    /* last */

    .last-section img{
        width: 98%;
    }

    .last-section .contenedor-textos-main{
        width: 98%;
        margin-bottom: 20px;
    }


}

@media screen and (max-width:400px){
    .titulo,
    .textos-hero h1{
        font-size: 30px;
    }

    .textos-hero p{
        font-size: 20px;
        text-align: center;
    }

    .card2{
        height: 480px;
        transition: height 2s !important;
    }

    .website .contenedor-textos-main{
        margin-bottom: 30px;
    }

    .galeria-cont>img{
        width: 97%;
    }
}


/* MATERIALIZE CSS */


.carousel-item{
    overflow: auto;
}

.carousel {
    min-height: 500px !important;
}